.wrapper,
.pnotify {
  display: flex;
  justify-content: center;
}
.search-form {
  margin: 50px;
}
.gallery {
  justify-content: center;
  list-style: none;
}

.stats {
  display: flex;
}
.stats-item {
  text-align: center;
  margin: 15px 15px 0;
}
.box {
  overflow: hidden;
  height: 250px;
}
