<form class="search-form wrapper" id="search-form">
  <input type="text" name="query" autocomplete="off" placeholder="Search images..." minlength="2" required/>
  <button type="submit" class="btn btn-primary ms-1">Search</button>
</form>

<div class="row row-cols-1 g-4">
  <ul class="gallery js-articles-container card-group col">
    <!-- Список <li> с карточками изображений -->
  </ul>
</div>

<div class="wrapper anchor">
  <button type="button" class="btn btn-primary button" data-action="load-more">
    <span class="spinner-border spinner-border-sm spinner visually-hidden" role="status"  aria-hidden="true"></span>
    <span class="label">Load more</span>
  </button>
</div>

